/* 背景图片 */
#app {
  width: 100%;
  height: 100%;
  /* background: url(@/image/下载.png) no-repeat 0 62px; */
  background-size: 100%;
}

.a1 {
  box-sizing: content-box;
  overflow: hidden;
  margin-top: 60px;
  margin-bottom: 20px;
}

/* 导航栏 */
.forum {
  position: fixed;
  top: 62px;
  left: 0;
  height: 56px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  z-index: 998;
}

.layout {
  width: 1000px;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: content-box;
}

.forum-heard {
  display: flex;
  height: 56px;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 30px;
}

.artice {
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  align-items: center;
  display: flex;
  -webkit-box-align: center;
}

.type-st {
  margin-right: 20px;
  z-index: 5;
  height: 100%;
}

.type-st ul {
  display: flex;
  height: 100%;
  width: 344px;
}

.type-st li {
  /* vertical-align: top; */
  height: 56px;
  line-height: 56px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  display: block;
}

.type-tab {
  margin-left: 40px;
}

.active {
  font-weight: 600;
  color: #00c3ff;
}

.active::before {
  bottom: 0;
  content: " ";
  position: absolute;
  width: 64px;
  border-bottom: 3px solid #00c3ff;
}

/* 发布帖子 */
.defalut {
  width: 130px;
  padding: 0 1px;
  height: 36px;
  color: #663c00;
  background-color: #ffe14c;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  border: 0px solid #ccc;
}
.defal-botn {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  font-size: inherit;
  color: inherit;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  border-radius: 0;
  font-weight: inherit;
  line-height: inherit;
}

.defal-botn i {
  font-size: 21px;
  margin-top: 1px;
  margin-right: 10px;
}

/* 中间部分 */
.toal {
  width: 700px;
  border-radius: 4px;
  background-color: #fff;
  float: left;
}
.toale{
  width: 700px;
  border-radius: 4px;
  float: left;
}
.filter-first{
  width: 100%;
  padding: 12px 30px;
  border-bottom: 1px solid #ebebeb;
}
.filter-firs {
  width: 100%;
  padding: 4px 0px;
  border-bottom: 1px solid #ebebeb;
}
.article{
  display: inline-block;
  width: 220px;
  height: 247px;
  margin: 0 20px 20px 0;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 5%);
}
.article-user{
  margin-right: 0;
}
.article-crad{
  width: 220px;
    height: 166px;
    position: relative;
    overflow: hidden;
    background-color: #f6f6f6;
}
.sacle{
  width: 100%;
  height: 100%;
}
.sacle-img1>img{
  width: 100%;
  background-position: 50% -216.1px;
  background-size: cover;
}
.sacle-img2{
  background: url(@/image/peerMap/风吹过的街道.jpg);
  background-position: 50% -35px;
  background-size: cover;
}
.sacle-img3{
  background: url(@/image/peerMap/高考现状.jpg);
  background-size: cover;
  background-position: 50% -228px;
}
.sacle::after{
  content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
}
.article-heard{
  font-size: 14px;
    padding: 12px 15px;
    line-height: 18px;
    width: 190px;
    height: 18px;
}
.article-type{
  display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;
}
.article-heard sapn{
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
}
.article-footer{
  line-height: 24px;
  display: flex;
    padding: 0 15px 15px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.article-acount{
  display: flex;
  -webkit-box-flex: 1;
    flex: 1;
    align-items: center;
}

/* 置顶内容 */
.first {
  padding: 19px 0;
  font-weight: 600;
}

.first span {
  margin-right: 10px;
  color: #00c3ff;
  font-size: 14px;
  border-radius: 2px;
  text-align: center;
  line-height: 18px;
  padding: 0 3px;
  border: 1px solid #00c3ff;
}

.first a {
  color: #333;
  font-size: 15px;
}

/* 发布的消息 */
.second {
  width: 640px;
  border-bottom: 1px solid #ebebeb;
  padding: 24px 30px;
}

.img1 {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #ebebeb;
  vertical-align: top;
}

.span {
  color: #666;
  font-size: 10px;
  margin-left: 10px;
}

.img2 {
  margin: 6px;
  vertical-align: middle;
  height: 12px;
}

.p {
  color: #ccc;
  margin-left: 7px;
  font-size: 10px;
}

.zore {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #333;
  margin: 15px 0 7px 0;
}

.thor {
  line-height: 18px;
  margin-top: 8px;
  color: #999;
  font-size: 14px;
}

/* 发布的图片 */
.img3 {
  margin-top: 10px;
  width: 370px;
  height: 120px;
  position: relative;
  margin-bottom: 10px;
}

.img3 .cobo {
  width: 120px;
  height: 100%;
  border-radius: 6px;
  background-image: url(@/image/pubimg/命令板.jpg);
  background-position: 17%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.eight {
  width: 120px;
  height: 100%;
  border-radius: 6px;
  background-image: url(@/image/pubimg/八重神子1.jpg);
  background-position: 50% -35px;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 125px;
}

.fold {
  width: 120px;
  height: 100%;
  border-radius: 6px;
  background-image: url(@/image/pubimg/八重神子2.jpg);
  background-position: 88%;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.topi{
  display: flex;
    flex-wrap: wrap;
    height: 29px;
    overflow: hidden;
}
/* 标签 */
.topces{
  margin-top: 5px;display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #666;
  border-radius: 12px;
  margin-right: 10px;
  background-color: #f5f5f5;
  position: relative;
  cursor: pointer;
}
.topc{
  display: inline-flex;
    color: inherit;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 12px;
    -webkit-user-select: none;
    user-select: none;
}

/* 小图标 */
.page {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-shrink: 0;
  height: 24px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.second-card {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  line-height: 18px;
}

.page i {
  color: #b3b3b3;
  font-size: 17px;
}

.page span {
  margin-left: 8px;
  color: #ccc;
  display: inline-block;
  width: 50px;
  font-size: 13px;
}

.second-data {
  margin-left: 10px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  line-height: 18px;
}
.npr{
  color: #ccc;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 侧边部分 */
.code {
  float: right;
  width: 280px;
  height: 100%;
}

/* 搜素框 */
.guide {
  margin-bottom: 20px;
  display: flex;
}

.guide-searh {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 50px;
}

.guide-searh input {
  display: inline-block;
  height: 100%;
  border: none;
  width: 200px;
  border-radius: 4px 0 0 4px;
}

.guide-submit {
  width: 80px;
  font-size: 16px;
}

.guide-submit button {
  width: 80px;
  background-color: #ffe14c;
  color: #663c00;
  font-weight: 600;
  height: 50px;
  cursor: pointer;
  transition: .2s background-color;
  border-radius: 0 4px 4px 0;
  border: none;
}

/* 扫码下载 */
.sem {
  background-color: #fff;
  padding: 20px 14px;
  display: flex;
  align-items: center;
  height: 120px;
}

.myh {
  width: 100px;
  height: 100px;
  margin-right: 8px;
  position: relative;
  background-color: #f5f5f5;
  flex-shrink: 0;
}

.myh img {
  width: 100%;
  height: 100%;
}

.qrcode-titil {
  font-size: 16px;
  color: #00c3ff;
}

.qrcode-suder {
  font-size: 16px;
  margin-top: 8px;
  color: #999;
}

.cobo2 {
  width: 120px;
  height: 100%;
  border-radius: 6px;
  background-image: url(@/image/method/考据.jpg);
  background-position: 47%;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* 侧边共同小头部 */
.side {
  background-color: #fff;
  margin-top: 20px;
  border-radius: 4px;
}

.side-uster {
  font-size: 15px;
  align-items: center;
  display: flex;
  height: 50px;
  border-bottom: 1px solid #ebebeb;
  padding: 0 20px;
}

.side-uster h2 {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 600;
}

.side-uster a {
  flex-shrink: 0;
  color: #999;
}

.side-body {
  padding: 20px;
}

.body-topic {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

/* 官方资讯内容 */
.body-op {
  width: 240px;
  height: 136px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  background-image: url(@/image/pubimg/米游币.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.body-list {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 220px;
  padding: 0 10px;
  height: 32px;
  line-height: 32px;
  border-radius: 0 0 3px 3px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.list-banner {
  padding-bottom: 10px;
}

.banner-info {
  width: 240px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  color: #333;
}

.banner-info span {
  display: inline-block;
  width: 32px;
  height: 16px;
  background-color: #c3ccd9;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  text-align: center;
  line-height: 16px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.banner-info p {
  font-size: 14px;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 同人图布局 */
.body-rankimg{
  display: flex;
    overflow: hidden;
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid #ebebeb;
}
.body-rankimg span{
  position: absolute;
    bottom: 20px;
    right: 0;
    z-index: 5;
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
}
.rankimg-rank1{
  color: #f85b54;
}
.rankimg-rank2{
  color: #fa0;
}
.rankimg-rank3{
  color: #d29c83;
  margin-right: 20px;
}
.rankimg-card{
  width: 80px;
    height: 106px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    background-size: contain;
    border: 1px solid #ebebeb;
}
.rankimg-card1{
  background: url(@/image/peerMap/荧四格.jpg);
  background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.rankimg-card2{
  background: url(@/image/peerMap/回家.jpg);
  background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.rankimg-card3{
  background: url(@/image/peerMap/高考现状.jpg);
  background-size: cover;
  background-position: 50%;    
  background-repeat: no-repeat;
  margin-left: 20px;

}
.rankimg-user{
  display: flex;
    margin-top: 10px;
    color: #666;
    -webkit-box-align: center;
    align-items: center;
}
.rankimg-xs{
  margin-right: 8px;
  width: 23px;
    height: 23px;
}
.rankimg-xs .img4{
  width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    vertical-align: top;
}
.use-img{
  position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    margin-left: calc(-64.25% + 1px);
    margin-top: calc(-64.25% + 1px);
    pointer-events: none;
    z-index: 2;
}
.user-a{
  overflow: hidden;
  text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #666;
}

/* 热门话题内容 */
.topic-card {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #ebebeb;
}

.topic-card img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.card-info {
  margin-left: 10px;
}

.card-info p {
  line-height: 20px;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
}